<p-sidebar [visible]="true" position="left" [style]="{width: '70px'}" [modal]="false" transitionOptions="0ms"
  [closeOnEscape]="false">
  <ng-template pTemplate="headless">

    <ng-container *ngIf="menuItems.length > 0; else noItems">
      <ng-container *ngIf="menuItems.length % 2 === 0; else oddLength">
        <div class=" flex flex-column  h-full py-3 justify-content-between bg-blue-400 ">
          <div class="flex flex-column ">
            <ng-container *ngFor="let item of menuItems.slice(0, menuItems.length / 2)">
              <div class="w-full">
                <div class="col-12 text-center h-2rem text-white hover:bg-blue-500 cursor-pointer"
                  [routerLink]="[item.routerLink]" routerLinkActive="bg-blue-500">
                  <i [ngClass]="item.icon" style="font-size: 1em"></i>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="flex flex-column">
            <ng-container *ngFor="let item of menuItems.slice(menuItems.length / 2)">
              <div class="w-full">
                <div class="col-12 text-center h-2rem text-white hover:bg-blue-500 cursor-pointer"
                  [routerLink]="[item.routerLink]" routerLinkActive="bg-blue-500">
                  <i [ngClass]="item.icon" style="font-size: 1em"></i>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-template #oddLength>
        <div class=" flex flex-column  h-full py-3 justify-content-between bg-blue-400 ">
          <div class="flex flex-column">
            <ng-container *ngFor="let item of menuItems.slice(0, (menuItems.length + 1) / 2)">
              <div class="w-full">
                <div class="col-12 text-center h-2rem text-white hover:bg-blue-500 cursor-pointer"
                  [routerLink]="[item.routerLink]" routerLinkActive="bg-blue-500">
                  <i [ngClass]="item.icon" style="font-size: 1em"></i>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="flex flex-column">
            <ng-container *ngFor="let item of menuItems.slice((menuItems.length + 1) / 2)">
              <div class="w-full">
                <div class="col-12 text-center h-2rem text-white hover:bg-blue-500 cursor-pointer"
                  [routerLink]="[item.routerLink]" routerLinkActive="bg-blue-500">
                  <i [ngClass]="item.icon" style="font-size: 1em"></i>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </ng-container>
    <ng-template #noItems>
      <div>No items found</div>
    </ng-template>

  </ng-template>
</p-sidebar>