.login-container {
  max-width: 400px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 8px;
}

.p-float-label input {
  width: 100%;
  box-sizing: border-box;
}

button {
  width: calc(100% - 2px);
  box-sizing: border-box;
}

.invalid-feedback {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

.form-group .p-invalid {
  border: 1px solid red;
}

.form-group {
  margin-bottom: 20px;
}
