<div class="flex flex-column bg-color text-black h-screen p-3 w-15rem ">
  <div class="text-lg font-semibold px-2 py-2">Settings</div>

  <div class="flex flex-column pt-3 px-2">
    <span class="text-base font-medium mb-2">Room settings</span>
    <div class="flex flex-column gap-1 cursor-pointer hover:bg-blue-600 text-black w-full">
      <span
        class="flex align-items-center pt-3 text-sm cursor-pointer hover:bg-blue-600 text-black rounded"
      >
        <i class="pi pi-building mr-2"></i>My spaces
      </span>
      <span
        class="flex align-items-center pt-3 text-sm cursor-pointer hover:bg-blue-600 text-900 rounded"
      >
        <i class="pi pi-clock mr-2"></i>Availability
      </span>
    </div>
  </div>
</div>
