<div class="grid   m-0 overflow-hidden">
  <div class="col-fixed  p-0 h-screen">
    <svg height="100%" viewBox="0 0 576 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="576" height="1024" fill="white" />
      <rect width="192" height="192" fill="white" />
      <rect x="96" y="96" width="96" height="96" fill="#DBEAFE" />
      <rect width="96" height="96" fill="#EFF6FF" />
      <rect width="192" height="192" transform="translate(192)" fill="#EFF6FF" />
      <path d="M384 0V192H192L384 0Z" fill="#BFDBFE" />
      <circle cx="288" cy="96" r="48" fill="white" />
      <rect width="192" height="192" transform="translate(384)" fill="white" />
      <path d="M480 96H576L480 192V96Z" fill="#DBEAFE" />
      <path d="M480 0V96H384L480 0Z" fill="#DBEAFE" />
      <rect width="192" height="192" transform="translate(0 192)" fill="#EFF6FF" />
      <path d="M0 288H96C96 341.019 53.0193 384 0 384V288Z" fill="white" />
      <path d="M96 192C149.019 192 192 234.981 192 288H96V192Z" fill="#BFDBFE" />
      <rect width="192" height="192" transform="translate(192 192)" fill="#EFF6FF" />
      <circle cx="288" cy="288" r="48" fill="white" />
      <path d="M384 384H192L288 288L384 384Z" fill="#BFDBFE" />
      <rect width="192" height="192" transform="translate(384 192)" fill="white" />
      <path d="M576 288H480C480 341.019 522.981 384 576 384V288Z" fill="#DBEAFE" />
      <path d="M480 192C533.019 192 576 234.981 576 288H480V192Z" fill="#BFDBFE" />
      <rect width="192" height="192" transform="translate(0 384)" fill="#EFF6FF" />
      <path d="M96 576C42.9807 576 0 533.019 0 480C0 426.981 42.9807 384 96 384V576Z" fill="#BFDBFE" />
      <circle cx="96" cy="480" r="48" fill="white" />
      <rect width="192" height="192" transform="translate(192 384)" fill="#EFF6FF" />
      <path d="M288 480H384C384 533.019 341.019 576 288 576V480Z" fill="#DBEAFE" />
      <path d="M288 480C234.981 480 192 522.981 192 576H288V480Z" fill="#BFDBFE" />
      <rect width="192" height="192" transform="translate(384 384)" fill="white" />
      <path d="M576 576C522.981 576 480 533.019 480 480C480 426.981 522.981 384 576 384V576Z" fill="#BFDBFE" />
      <circle cx="432" cy="480" r="48" fill="#EFF6FF" />
      <rect width="192" height="192" transform="translate(0 576)" fill="#EFF6FF" />
      <path d="M0 768C53.0193 768 96 725.019 96 672C96 618.981 53.0193 576 0 576V768Z" fill="#BFDBFE" />
      <path d="M192 576L192 768L96 672L192 576Z" fill="white" />
      <rect width="192" height="192" transform="translate(192 576)" fill="#EFF6FF" />
      <path d="M288 672L288 576L384 672L288 672Z" fill="white" />
      <path d="M192 672L288 672L288 768L192 672Z" fill="#DBEAFE" />
      <rect width="192" height="192" transform="translate(384 576)" fill="white" />
      <path d="M384 576L576 576L576 768L384 576Z" fill="#DBEAFE" />
      <circle cx="480" cy="672" r="48" fill="#BFDBFE" />
      <rect width="192" height="192" transform="translate(0 768)" fill="#EFF6FF" />
      <path
        d="M-4.19629e-06 864C-1.87874e-06 810.981 42.9807 768 96 768C149.019 768 192 810.981 192 864L-4.19629e-06 864Z"
        fill="#DBEAFE" />
      <circle cx="96" cy="912" r="48" fill="white" />
      <rect width="192" height="192" transform="translate(192 768)" fill="white" />
      <path d="M192 864C192 810.981 234.981 768 288 768C341.019 768 384 810.981 384 864L192 864Z" fill="#DBEAFE" />
      <path d="M288 960C234.981 960 192 917.019 192 864C192 810.981 234.981 768 288 768V960Z" fill="#BFDBFE" />
      <circle cx="336" cy="912" r="48" fill="#EFF6FF" />
      <rect width="192" height="192" transform="translate(384 768)" fill="#EFF6FF" />
      <rect x="384" y="768" width="96" height="96" fill="#BFDBFE" />
      <rect x="480" y="864" width="96" height="96" fill="white" />
      <rect width="192" height="192" transform="translate(0 960)" fill="white" />
      <circle cx="96" cy="1056" r="48" fill="#CFFFE3" />
      <path d="M192 1056H0L96 960L192 1056Z" fill="#DBEAFE" />
      <rect width="192" height="192" transform="translate(192 960)" fill="white" />
      <path d="M288 960L288 1056C234.981 1056 192 1013.02 192 960L288 960Z" fill="#BFDBFE" />
      <path d="M288 1056C288 1002.98 330.981 960 384 960L384 1056L288 1056Z" fill="#DBEAFE" />
      <rect width="192" height="192" transform="translate(384 960)" fill="#EFF6FF" />
      <path d="M480 1152C426.981 1152 384 1109.02 384 1056C384 1002.98 426.981 960 480 960V1152Z" fill="#BFDBFE" />
      <path d="M576 1152C522.981 1152 480 1109.02 480 1056C480 1002.98 522.981 960 576 960V1152Z" fill="white" />
      <circle cx="480" cy="1056" r="48" fill="#DBEAFE" />
    </svg>
  </div>
  <div class="col flex justify-content-center align-items-center p-0 h-screen bg-white">
    <p-card class="shadow-6 gap-4 border-round " [style]="{width: '640px'}">
      <div class="flex justify-content-center text-5xl font-semibold px-4" [style]="{padding: '35px'}">Log in to Ritech
      </div>
      <p-messages [(value)]="message" [enableService]="false"></p-messages>
      <ng-template pTemplate="content">
        <h4 class="text-2xl p-4 my-0">Workplace details</h4>
        <form [formGroup]="loginForm">
          <div class="grid grid-nogutter p-fluid gap-1">
            <div class="col-12">

              <span class="flex flex-column text-sm ">
                <div class="flex flex-column gap-3">
                  <label for="identifier">Email address*</label>
                  <input pInputText formControlName="identifier" [ngClass]="{'ng-dirty': fc['identifier'].touched}" />
                </div>
                <span [ngStyle]="{'visibility':   loginForm.get('identifier')?.touched ? 'visible':'hidden'}"
                  class="p-error h-1rem">
                  <small
                    *ngIf="(loginForm.get('identifier')!.touched)">{{checkForErrorsIn((loginForm.get('identifier')))}}</small>
                </span>
              </span>
            </div>
            <div class="col-12">
              <span class="flex flex-column text-sm ">
                <div class="flex flex-column gap-3">
                  <label for="password">Password*</label>
                  <p-password [toggleMask]="true" [feedback]="false" formControlName="password"
                    [ngClass]="{'ng-dirty': loginForm.get('password')?.touched}"></p-password>
                </div>
                <span [ngStyle]="{'visibility': loginForm.get('password')?.touched ? 'visible':'hidden'}"
                  class="p-error h-1rem">
                  <small class="p-error"
                    *ngIf="(loginForm.get('password')!.touched)">{{checkForErrorsIn((loginForm.get('password')))}}</small>
                </span>
              </span>
            </div>
            <div class="col-12">
              <div class="flex justify-content-between text-sm ">
                <p-checkbox label="Remember me" name="rememberMe" value="rememberme"></p-checkbox>
                <a [routerLink]="'/reset'" class="no-underline text-color">Forgot password?</a>
              </div>
            </div>
          </div>
        </form>
      </ng-template>
      <ng-template pTemplate="footer">
        <p-button class="flex justify-content-center" type="submit" label="Log in" size="large"
          (click)="login()"></p-button>
        <div class="flex justify-content-center  text-xs">Don't have an account? &nbsp;
          <a [routerLink]="'/register'" class="no-underline text-primary">Register now.</a>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>


<!-- <div class="form-group text-sm">

            <div class="flex flex-column gap-2">
              <label for="username">Email address*</label>
              <input id="username" type="text" pInputText formControlName="identifier"
                [ngClass]="{'p-invalid': isSubmitted && fc['identifier'].invalid}" />

            </div>
            <div *ngIf="isSubmitted && fc['identifier'].errors" class="invalid-feedback">
              <div *ngIf="fc['identifier'].errors['required']">
                Email is required.
              </div>
              <div *ngIf="fc['identifier'].errors['email']">
                Email must be a valid email address.
              </div>
            </div>
          </div>
          <div class="form-group text-sm">
            <div class="flex flex-column gap-2">
              <label for="password">Password*</label>
              <input id="password" type="password" pInputText formControlName="password"
                [ngClass]="{'p-invalid': isSubmitted && fc['password'].invalid}" />

            </div>
            <div *ngIf="isSubmitted && fc['password'].errors" class="invalid-feedback">
              <div *ngIf="fc['password'].errors['required']">
                Password is required.
              </div>
            </div>
          </div> -->