<app-layout>
  <app-page-header
    title="Users"
    subtitle="Add, edit or remove users from your spaces"
    actionButtonLabel="Add User"
    actionButtonIcon="pi pi-user-plus"
    tableReference="dt"
    (searchValue)="onSearch($event)"
    (actionButtonClick)="changeVisibility(true)"
  ></app-page-header>

  <app-table
    dataKey="firstName"
    [cols]="cols"
    [rows]="10"
    [data]="filteredData"
    currentPageReportTemplate="Rows per page: {rows} &nbsp;&nbsp; {first} - {last} of {totalRecords}"
    (rowSelect)="changeVisibility(true)"
  >
  </app-table>

  <app-add-user
    [(visible)]="visible"
    actionButtonLabel="Add User"
    header="Add user"
  >
  </app-add-user>
</app-layout>
