<p-button (click)="showDialog()" icon="pi pi-plus" label="Create User"></p-button>


<p-dialog header="Create User" [(visible)]="displayDialog" (onHide)="onClose()" [responsive]="true" [modal]="true"
  [draggable]="false" [maximizable]="true" [resizable]="false" [breakpoints]="{ '960px': '100vw' }"
  styleClass="w-25rem">

  <form [formGroup]="userForm">
    <div class="grid p-fluid mt-3 row-gap-2">
      <div class="col-12">

        <span class="p-float-label">
          <input pInputText formControlName="firstName" [ngClass]="{'ng-dirty': userForm.get('firstName')?.touched}" />
          <label for="firstName">First Name</label>
        </span>
        <span class="col-12"
          [ngStyle]="{'visibility':  userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched ? 'visible':'hidden'}">
          <small *ngIf="userForm.get('firstName')?.touched && !userForm.get('firstName')?.dirty">First Name is
            required.</small>
          <small *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.dirty">First Name too
            short.</small>
        </span>
      </div>

      <div class="col-12">

        <span class="p-float-label">
          <input pInputText formControlName="lastName" [ngClass]="{'ng-dirty': userForm.get('lastName')?.touched}" />
          <label for="lastName">Last Name</label>
        </span>
        <span class="col-12"
          [ngStyle]="{'visibility': userForm.get('lastName')?.invalid  && userForm.get('lastName')?.touched ? 'visible' : 'hidden'}">
          <small *ngIf="userForm.get('lastName')?.touched && !userForm.get('lastName')?.dirty">Last Name is
            required.</small>
          <small *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.dirty">Last Name too
            short.</small>
        </span>
      </div>

      <div class="col-12">

        <span class="p-float-label">
          <input pInputText formControlName="username" [ngClass]="{'ng-dirty': userForm.get('username')?.touched}" />
          <label for="username">Username</label>
        </span>
        <span class="col-12"
          [ngStyle]="{'visibility': userForm.get('username')?.invalid  && userForm.get('username')?.touched ? 'visible' : 'hidden'}">
          <small *ngIf="userForm.get('username')?.touched && !userForm.get('username')?.dirty">Username is
            required.</small>
          <small *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.dirty">Username too
            short.</small>
        </span>

      </div>

      <div class="col-12">

        <span class="p-float-label">
          <input pInputText formControlName="email" [ngClass]="{'ng-dirty': userForm.get('email')?.touched}" />
          <label for="email">Email</label>
        </span>
        <span class="col-12"
          [ngStyle]="{'visibility': userForm.get('email')?.invalid  && userForm.get('email')?.touched ? 'visible' : 'hidden'}">
          <small *ngIf="userForm.get('email')?.touched && !userForm.get('email')?.dirty">Email is required.</small>
          <small *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.dirty">Email too short.</small>
        </span>

      </div>

      <div class="col-12">

        <span class="p-float-label">
          <p-password formControlName="password" [toggleMask]="true" appendTo="body"
            [ngClass]="{'ng-dirty': userForm.get('password')?.touched }">
            <ng-template pTemplate="header">
              <h6>Pick a password</h6>
            </ng-template>
            <ng-template pTemplate="footer">
              <p-divider></p-divider>
              <p class="mt-2">Suggestions</p>
              <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                <li>At least one lowercase</li>
                <li>At least one uppercase</li>
                <li>At least one numeric</li>
                <li>Minimum 8 characters</li>
              </ul>
            </ng-template>
          </p-password>
          <label for="password">Password</label>
        </span>
        <span class="col-12"
          [ngStyle]="{'visibility': userForm.get('password')?.invalid  && userForm.get('password')?.touched ? 'visible' : 'hidden'}">
          <small *ngIf="userForm.get('password')?.touched && !userForm.get('password')?.dirty">Password is
            required.</small>
          <small *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.dirty">Password too
            short.</small>
        </span>

      </div>

      <div class="col-12">

        <span class="p-float-label">
          <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false"
            [ngClass]="{'ng-dirty': userForm.get('confirmPassword')?.touched }"></p-password>
          <label for="confirmPassword">Confirm Password</label>
        </span>
        <small
          [ngStyle]="{'visibility': userForm.get('confirmPassword')?.invalid  && userForm.get('confirmPassword')?.touched && userForm.hasError('passwordMismatch') ? 'visible' : 'hidden'}">
          Passwords do not match.
        </small>
      </div>


      <div class="col-12  flex justify-content-center column-gap-6">

        <p-button label="Cancel" (click)="onClose()" styleClass="p-button-secondary w-5rem" [raised]="true"></p-button>
        <p-button label="Save " (click)="saveUser()" [disabled]="!userForm.valid" styleClass="p-button-success w-5rem"
          [raised]="true"></p-button>

      </div>
    </div>
  </form>
</p-dialog>