<p-button (click)="showDialog()" icon="pi pi-user-plus" label="Add User"></p-button>


<p-dialog header="Add User" [(visible)]="displayDialog" (onHide)="onClose()" [responsive]="true" [modal]="true"
  [draggable]="false" [resizable]="false" [breakpoints]="{ '960px': '100vw' }" styleClass="w-5">

  <form [formGroup]="userForm">
    <div class="grid grid-nogutter p-fluid row-gap-1">
      <div class="custom-col-6">

        <span class="flex flex-column pr-3">
          <label for="firstName">First Name</label>
          <input pInputText formControlName="firstName" placeholder="e.g. Jane"
            [ngClass]="{'ng-dirty': userForm.get('firstName')?.touched}" class="mt-2" />
          <span [ngStyle]="{'visibility':   userForm.get('firstName')?.touched ? 'visible':'hidden'}"
            class="p-error h-1rem">
            <small
              *ngIf="(userForm.get('firstName')!.touched)">{{checkForErrorsIn((userForm.get('firstName')))}}</small>
          </span>
        </span>
      </div>


      <div class="custom-col-6">

        <span class="flex flex-column">
          <label for="lastName">Last Name</label>
          <input pInputText formControlName="lastName" placeholder="e.g. Doe"
            [ngClass]="{'ng-dirty': userForm.get('lastName')?.touched}" class="mt-2" />
          <span [ngStyle]="{'visibility': userForm.get('lastName')?.touched ? 'visible':'hidden'}"
            class="p-error h-1rem">
            <small class="p-error"
              *ngIf="(userForm.get('lastName')!.touched)">{{checkForErrorsIn((userForm.get('lastName')))}}</small>
          </span>
        </span>

      </div>

      <div class="custom-col-6 mt-0">

        <span class="flex flex-column pr-3">
          <label for="email">Email</label>
          <input pInputText formControlName="email" placeholder="user@emailaddress.com"
            [ngClass]="{'ng-dirty': userForm.get('email')?.touched}" class="mt-2" />
          <small class="mt-2">This user will be sent an invitation via this email.</small>
          <span [ngStyle]="{'visibility': userForm.get('email')?.touched ? 'visible':'hidden'}" class="p-error h-1rem">
            <small class="p-error"
              *ngIf="(userForm.get('email')!.touched)">{{checkForErrorsIn((userForm.get('email')))}}</small>
          </span>
        </span>

      </div>

      <div class="custom-col-6">

        <span class="flex flex-column">
          <label for="phoneNumber">Phone number</label>
          <input pInputText formControlName="phoneNumber" placeholder="e.g. +355699999999"
            [ngClass]="{'ng-dirty': userForm.get('phoneNumber')?.touched}" class="mt-2" />
          <span [ngStyle]="{'visibility': userForm.get('phoneNumber')?.touched ? 'visible':'hidden'}"
            class="p-error h-1rem">
            <small class="p-error"
              *ngIf="(userForm.get('phoneNumber')!.touched)">{{checkForErrorsIn((userForm.get('phoneNumber')))}}</small>
          </span>
        </span>
      </div>




      <div class="col-12  flex justify-content-end column-gap-2">

        <p-button label="Add user " type="submit" (click)="onSubmit()" [disabled]=" !allFieldsFilled()"></p-button>
        <p-button label="Cancel" [text]="true" (click)="onClose()"></p-button>

      </div>
    </div>
  </form>
</p-dialog>