::ng-deep .p-input-icon-left {
    display: none !important;
}
.space-item {
    display: flex;
    align-items: center;
  }
  
  .space-item td {
    flex: 1;
    padding: 10px;
  }
  
  .button-container {
    display: flex;
    gap: 5px; 
  }
  .space-item:hover {
    background-color: #E3F2FD;
}
