<p-dialog
  [header]="header"
  [(visible)]="isDisplayModal"
  [dismissableMask]="true"
  [modal]="true"
  [responsive]="true"
  [draggable]="false"
  [resizable]="false"
  [breakpoints]="{ '960px': '100vw' }"
  [style]="style"
  
  (onHide)="onCancelButtonClick()"
>
  <ng-template *ngIf="!header" pTemplate="header">
    <ng-content select="[modal-header-content]"></ng-content>
  </ng-template>

  <ng-template pTemplate="content">
    <ng-content select="[modal-body-content]"></ng-content>
  </ng-template>

  <ng-template pTemplate="footer">
      <p-button
        [disabled]="isActionButtonDisabled"
        label="{{ actionButtonLabel }}"
        size="large"
        styleClass="text-lg font-light"
        (click)="handleActionButtonClick()"
      ></p-button>
      <p-button
        label="Cancel"
        styleClass="p-button-text text-lg"
        size="large"
        (click)="onCancelButtonClick()"
      ></p-button>
  </ng-template>
</p-dialog>
