.custom-col-6 {
    flex: 0 0 auto;
    width: 50%;
    }

    .fixed-size-textarea {
        width: 400px;
        height: 200px; 
        resize: none; 
    }
    .add-spacefont {
        font-size: 24px; 
        font-weight: 600; 
        line-height: 32px;
      }