<app-modal
  [actionButtonLabel]="actionButtonLabel"
  (onActionButtonClick)="onAddRoom()"
  [visible]="visible"
  [isActionButtonDisabled]="!allFieldsFilled()"
  (visibleChange)="onVisibleChange($event)"
  [header]="header"
>
  <ng-container modal-body-content>
    <form [formGroup]="spaceForm">
      <div class="grid grid-nogutter p-fluid row-gap-1">
        <div class="col-12">
          <span class="p-flex flex-column">
            <label for="spaceName">Space name*</label>
            <input
              pInputText
              formControlName="spaceName"
              class="mt-2"
              placeholder="e.g. Meeting room"
              [value]="selectedSpace?.name"
              [ngClass]="{ 'is-invalid': spaceForm.get('spaceName')?.touched }"
            />
            <span
              [ngStyle]="{
                visibility: spaceForm.get('spaceName')?.touched
                  ? 'visible'
                  : 'hidden'
              }"
              class="p-error h-1rem"
            >
              <small *ngIf="spaceForm.get('spaceName')?.touched">
                {{ checkForErrorsIn("spaceName") }}
              </small>
            </span>
          </span>
        </div>
      </div>

      <div class="grid grid-nogutter p-fluid row-gap-1 mt-3">
        <div class="col-12">
          <span class="p-flex p-flex-column">
            <label for="spaceDescription">Space description</label>
            <textarea
              pInputTextarea
              autoResize="true"
              formControlName="spaceDescription"
              placeholder="Any details that users might find helpful."
              [value]="selectedSpace?.description"
              class="mt-2 h-10rem"
            ></textarea>
          </span>
        </div>
      </div>
    </form>
  </ng-container>
</app-modal>
