<div class="flex px-4 py-0 justify-content-between align-items-center">
  <div class="flex gap-4 align-items-center">
    <div class="flex align-items-start" style="width: 531px">
      <button
        class="p-3 h-auto w-full align-items-center cursor-pointer text-bluegray-800 gap-2 border-bluegray-200 border-round-left-sm bg-white border-solid box-shadow-none"
        style="flex: 1 0 0"
        [routerLink]="['./']"
        [queryParams]="{ view: 'timeGridDay' }"
        [routerLinkActive]="'active-button'"
        (click)="onDayClick()"
      >
        Day
      </button>
      <button
        class="p-3 align-items-center h-auto w-full cursor-pointer justify-content-center text-bluegray-800 gap-2 border-x-none border-bluegray-200 bg-white border-solid box-shadow-none"
        [routerLink]="['./']"
        style="flex: 1 0 0"
        [queryParams]="{ view: 'dayGridMonth' }"
        [routerLinkActive]="'active-button'"
        (click)="onMonthClick()"
      >
        Month
      </button>
      <button
        label="Map"
        style="flex: 1 0 0"
        class="p-3 align-items-center h-auto w-full cursor-pointer justify-content-center text-bluegray-800 gap-2 border-bluegray-200 border-round-right-sm bg-white border-solid box-shadow-none"
      >
        Map
      </button>
    </div>
    <h6 class="text-lg text-bluegray-800 font-medium">{{ currentDate }}</h6>
  </div>
  <div class="flex gap-4 align-items-center justify-content-stretch">
    <button
      class="flex p-3 justify-content-center cursor-pointer align-items-center gap-2 border-round-lg border-none text-white box-shadow-none"
      style="background-color: #3b82f6"
      (click)="addReservations()"
    >
      <i class="pi pi-plus" style="color: white"></i> Book meeting
      
    </button>
    <p-dropdown
      [options]="rooms"
      optionLabel="name"
      styleClass="flex p-2 align-self-stretch cursor-pointer align-items-center gap-2 border-round-lg text-white box-shadow-none"
      [placeholder]="'All rooms'"
    >
      <ng-template let-room pTemplate="item">
        <div (click)="onRoomSelected(room)">
          <div>{{ room.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
