.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    padding: 10px 60px;
    color: white;
  }
  
  .logo {
    flex: 1;
  }
  
  .menu {
    flex: 2; 
    background: transparent;
  }
  
  .p-menubar {
    background-color: transparent !important;
  }
  
  
  .p-menubar .p-menuitem-link {
    color: white !important; 
  }
  
  
  .menu-button button {
    background: transparent; 
    border-color: transparent; 
    color: #fff; 
  }
  
  .menu-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }