<app-header></app-header>

<div class="desk-container">
  <!-- <p-button type="button" label="New Reservation" (click)="onNewReservationClick()">

  </p-button> -->
  <div *ngFor="let room of rooms; let roomIndex = index">
    <div *ngFor="let desk of desks; let deskIndex = index" class="desk-button">
      <p-button
        type="button"
        label="Desk {{ deskIndex + 1 }}"
        class="pl-4"
        (click)="onDeskClicked(desk)"
      ></p-button>
    </div>
  </div>
</div>

<app-reservation-modal
  [isDisplayModal]="isDisplayModal"
  [title]= "userName"
  [subtitle]="userEmail"
  (submitReservation)="submitReservation($event)"
  (close)="onReservationModalClose()"
>
</app-reservation-modal>
