<app-page-header
title="Users"
subtitle="Add, edit or remove users from your spaces"
actionButtonLabel="Add User"
actionButtonIcon="pi pi-user-plus"
tableReference="dt"
(actionButtonClick)="onEditOrAdd($event, false)"
>
<span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      pInputText
      type="text"
      placeholder="Search..."
      [(ngModel)]="filterValue"
      (input)="onSearch()"
    />
  </span></app-page-header>

<app-table
dataKey="email"
[cols]="cols"
[rows]="10"
[data]="filteredData"
currentPageReportTemplate="Rows per page: {rows} &nbsp;&nbsp; {first} - {last} of {totalRecords}"
(rowSelect)="onEditOrAdd($event, true)"
[selection]="selection"
></app-table>

<app-user-modal #addUser
[(visible)]="visible"
[actionButtonLabel]="actionButtonLabel"
[header]="header"
[selectedUser]="selection"
(addUserClick)="onSubmit()"
(visibleChange)="resetSelection()"
></app-user-modal>
