<app-modal
  [actionButtonLabel]="'Save changes'"
  (onActionButtonClick)="onSubmitReservation()"
  (close)="onReservationModalClose()"
  [isDisplayModal]="isDisplayModal"
>
  <div modal-header-content>
    <div class="text-4xl font-normal">{{ title }}</div>
    <div class="text-sm pt-2 font-normal">{{ subtitle }}</div>
  </div>

  <ng-container modal-body-content>
    <div class="modal-body-content p-fluid">
      <form [formGroup]="reservationForm">
        <div class="formgrid grid">
          <div class="field col-12 md:col-6">
            <label for="date" class="font-light">Date*</label>
            <p-calendar
              formControlName="startTime"
              dataType="string"
              inputId="startTime"
              dateFormat="DD d MM"
              [iconDisplay]="'input'"
              [showIcon]="true"
              appendTo="body"
              [showButtonBar]="true"
            >
              <ng-template pTemplate="inputicon">
                <i class="pi pi-angle-down pointer-events-none"></i>
              </ng-template>
            </p-calendar>
          </div>

          <div class="field col-12 md:col-3">
            <label for="startTime" class="font-light col-offset-3">Time*</label>
            <div class="field grid">
              <label for="firstname3" class="col-fixed">From</label>
              <div class="col">
                <p-dropdown
                  id="times"
                  [options]="times"
                  optionLabel="clock"
                  filterBy="clock"
                  formControlName="space"
                  class="wide-dropdown"
                  appendTo="body"
                ></p-dropdown>
              </div>
            </div>
          </div>
          <div class="field col-12 md:col-3 mt-auto">
            <div class="field grid">
              <label for="firstname3" class="col-fixed">To</label>
              <div class="col">
                <p-dropdown
                  id="times"
                  [options]="times"
                  optionLabel="clock"
                  filterBy="clock"
                  formControlName="space"
                  class="wide-dropdown"
                  appendTo="body"
                ></p-dropdown>
              </div>
            </div>
          </div>
        </div>

        <div class="grid">
          <div class="field col-12">
            <label for="space" class="font-light">Space*</label>
            <p-dropdown
              id="space"
              [options]="spaces"
              optionLabel="name"
              filterBy="name"
              formControlName="space"
              dataKey="floorId"
              placeholder="Select Space"
              appendTo="body"
            ></p-dropdown>
          </div>
        </div>
        <div class="grid">
          <div class="field col-12">
            <label for="bookingTitle" class="font-light">Booking Title</label>
            <input
              type="text"
              id="bookingTitle"
              pInputText
              formControlName="bookingTitle"
              placeholder="e.g Daily Standup"
            />
          </div>
        </div>
      </form>
    </div>
  </ng-container>
</app-modal>
