<app-modal
  [actionButtonLabel]="'Save changes'"
  [icon]="icon"
  [visible]="visible"
  [style]="{ width: '770px' }"
  (onActionButtonClick)="onSubmitReservation()"
  (visibleChange)="onVisibleChange($event)"
>
  <div modal-header-content>
    <div class="text-2xl font-semibold">{{ title }}</div>
    <div class="text-xs pt-2 font-normal">{{ subtitle }}</div>
  </div>

  <ng-container modal-body-content>
    <form [formGroup]="reservationForm" class="p-fluid">
      <div class="grid">
        <div class="field col-12">
          <label for="space" class="text-sm font-normal">Space*</label>
          <p-dropdown
            id="space"
            [options]="spaces"
            optionLabel="name"
            filterBy="name"
            formControlName="space"
            dataKey="floorId"
            placeholder="Select Space"
            appendTo="body"
          ></p-dropdown>
        </div>
      </div>
      <div class="formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="date" class="text-sm font-normal">Date*</label>
          <p-calendar
            (onSelect)="updateTimeAvailability()"
            [minDate]="minDateValue"
            [disabledDays]="[0,6]"
            [firstDayOfWeek]="1"
            formControlName="startTime"
            dataType="date"
            inputId="startTime"
            dateFormat="DD d MM"
            [iconDisplay]="'input'"
            [showIcon]="true"
            appendTo="body"
            [showButtonBar]="true"
          >
            <ng-template pTemplate="inputicon">
              <i class="pi pi-angle-down pointer-events-none"></i>
            </ng-template>
          </p-calendar>
        </div>

        <div class="field col-12 md:col-3">
          <label for="startTime" class="text-sm font-normal col-offset-4">Time*</label>
          <div class="field grid">
            <label for="time" class="text-sm font-normal col-fixed">From</label>
            <div class="col">
              <p-dropdown
                id="times"
                [options]="times"
                optionLabel="time"
                filterBy="time"
                formControlName="space"
                appendTo="body"
              ></p-dropdown>
            </div>
          </div>
        </div>
        <div class="field col-12 md:col-3 mt-auto">
          <div class="field grid">
            <label for="time" class="text-sm font-normal col-fixed">To</label>
            <div class="col">
              <p-dropdown
                id="times"
                [options]="times"
                optionLabel="time"
                filterBy="time"
                formControlName="space"
                appendTo="body"
              ></p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="grid">
        <div class="field col-12">
          <label for="bookingTitle" class="text-sm font-normal">Booking Title</label>
          <input
            type="text"
            id="bookingTitle"
            pInputText
            formControlName="bookingTitle"
            placeholder="e.g Daily Standup"
          />
        </div>
      </div>
    </form>
  </ng-container>
</app-modal>
